*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_master_data{
    overflow: scroll;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    position: relative;
}
.master_home-header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 25px;
}
.master_home-header-name{
    font-size: 24px;
}
.master_home-content{
    /* background-color: #2196F3; */
   
    height: calc(100% - 60px);
}
.master_data_des{
    width: 20%;
}
.master_data_status_td{
    width: 100px;
}
.state_active_content {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 0.7rem !important;
    border-radius: 17px;
    padding: 2px 10px;
   
  }
  #state_active{
    color: #00c291;
    background-color: #ccf3e9;
  }
  #state_Inactive{
    color: #ffffff;
    background-color: lightgray;
  }
  #state_unactive{
    color: crimson;
    background-color: #ffe0e0;
  }

  /* td{
    text-align: start;
    vertical-align: top;
  } */
#master_home-content{
    overflow-y: scroll;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 120px);
    position: relative;
    /* margin-bottom: 50px; */
    /* padding:15px; */
    /* background-color: red; */
}
#content_position-wrapper-position{
    position: relative;
    width: 100%;
    height: calc(100%);
}
.master_home-content-item:hover{

    border: 2px solid var(--bg_Thridnary_2);
}
.master_home-content-item{
    border: 2px solid #fff;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    width: calc(50% - 30px);
    /* width: 25vw; */
    /* height: 20vh; */
    background-color: #fff;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    padding:20px 25px;
}

.master_home-content-item-icon{
    /* background-color: #00c291; */
    padding: 0 5px;
    width: 30%;
    display: flex;
    align-items: start;
    justify-content: center;
}
.master_home-content-item-icon span{
    /* background-color: var(--bg_Thridnary_2); */
    background-repeat: no-repeat;
    
        
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M38.125 20C38.125 30.0102 30.0102 38.125 20 38.125C9.98984 38.125 1.875 30.0102 1.875 20C1.875 9.98984 9.98984 1.875 20 1.875C30.0102 1.875 38.125 9.98984 38.125 20Z' fill='%23F05B2F'/%3E%3Cpath d='M28.303 15.6034L22.9249 10.2253C22.9172 10.2176 22.9089 10.2109 22.9009 10.2036C22.8905 10.194 22.8804 10.1842 22.8695 10.1752C22.8623 10.1693 22.8546 10.1641 22.8471 10.1584C22.8346 10.1488 22.8221 10.139 22.809 10.1302C22.803 10.1262 22.7967 10.1229 22.7907 10.119C22.7754 10.1094 22.7601 10.0998 22.7442 10.0913C22.7399 10.089 22.7354 10.0872 22.731 10.085C22.713 10.0757 22.6948 10.0667 22.676 10.0589C22.6731 10.0577 22.67 10.0568 22.667 10.0556C22.6468 10.0475 22.6262 10.0399 22.6052 10.0335C22.6022 10.0326 22.599 10.032 22.596 10.0311C22.5751 10.025 22.554 10.0195 22.5324 10.0151C22.5256 10.0138 22.5185 10.0132 22.5116 10.012C22.4938 10.0089 22.476 10.0058 22.4578 10.004C22.4323 10.0014 22.4066 10.0001 22.381 10.0001H13.1495C12.7416 10.0005 12.3506 10.1628 12.0621 10.4512C11.7737 10.7396 11.6115 11.1307 11.611 11.5385V28.4616C11.6115 28.8695 11.7737 29.2605 12.0621 29.5489C12.3506 29.8373 12.7416 29.9996 13.1495 30H26.9964C27.4042 29.9996 27.7953 29.8373 28.0837 29.5489C28.3721 29.2605 28.5343 28.8695 28.5348 28.4616V16.1688C28.5349 16.1638 28.5356 16.1589 28.5356 16.1539C28.5356 16.0513 28.5151 15.9496 28.4752 15.8551C28.4352 15.7605 28.3767 15.6749 28.303 15.6034ZM23.1502 24.6154H16.9964C16.7924 24.6154 16.5967 24.5344 16.4525 24.3901C16.3082 24.2459 16.2271 24.0502 16.2271 23.8462C16.2271 23.6422 16.3082 23.4465 16.4525 23.3023C16.5967 23.158 16.7924 23.077 16.9964 23.077H23.1502C23.3542 23.077 23.5499 23.158 23.6941 23.3023C23.8384 23.4465 23.9194 23.6422 23.9194 23.8462C23.9194 24.0502 23.8384 24.2459 23.6941 24.3901C23.5499 24.5344 23.3542 24.6154 23.1502 24.6154ZM23.1502 21.5385H16.9964C16.7924 21.5385 16.5967 21.4575 16.4525 21.3132C16.3082 21.169 16.2271 20.9733 16.2271 20.7693C16.2271 20.5653 16.3082 20.3696 16.4525 20.2254C16.5967 20.0811 16.7924 20.0001 16.9964 20.0001H23.1502C23.3542 20.0001 23.5499 20.0811 23.6941 20.2254C23.8384 20.3696 23.9194 20.5653 23.9194 20.7693C23.9194 20.9733 23.8384 21.169 23.6941 21.3132C23.5499 21.4575 23.3542 21.5385 23.1502 21.5385ZM22.381 16.1539V11.8571L26.6777 16.1539H22.381Z' fill='white'/%3E%3C/svg%3E%0A");
  filter: hue-rotate(150deg) brightness(1);
  background-size: cover;
      width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.75rem;
}
.master_home-content-item-detail{
    width: 70%;
    height: 100%;
    display: flex;
    padding: 0 5px;
    flex-direction: column;
    /* background-color: lightgray; */
}
.master_home-content-item-detail-name{
    width: auto;
    padding: 5px 0;
    font-size: 1.25rem ;
}
.master_home-content-item-detail-des{
    /* height: 100%; */
    /* width:auto; */
    color: #838395 ;
    /* background-color: lightgreen; */
    width: calc(100% - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


/* AfterClick */
.content_position-wrapper-position{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: #525260; */
}
.content_position-wrapper-position-filter{
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 14px ;
}
.content_position-wrapper-position-filter div{
    display: flex;
    align-items: center;
}
.position-filter-left-menu_input{
    width: 280px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0 20px;
    height: 40px;
}
.position-filter-left-menu_input-textbox input{
    margin-left: 10px;
    border: none;
}
.position-filter-left-menu_input-textbox input:focus{
    outline: none;
}
.position-filter-left{
    width: 100%;
}
.position-filter-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.position-filter-right div {
    cursor: pointer;
    margin-left: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.table_position-icon ,.position-filter-right-menu_t{
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .position-filter-right-menu_addposition{
    background-color: var(--bg_Thridnary_2);
    color: #fff;
    box-sizing: border-box;
}
.content_position-wrapper-position-table{
    
    height: calc(100% - 170px);
    position: relative;
   overflow: scroll;
}

.content_position-wrapper-position-table table{
    width: 100%;
    text-align: left;
    font-size: 14px;
    height: 100%;
}
.content_position-wrapper-position-table table thead tr th{
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 1px 0px rgba(199, 201, 217, 0.45);
    padding: 12px 15px;
    font-weight: 500;
    z-index: 5;
}
.content_position-wrapper-position-table table tbody tr td{
    padding: 10px 15px;
    color: #525260;
    font-weight: 300;
}
.content_position-wrapper-position-table table tbody tr{
    box-shadow: 0px 1px 0px rgba(199, 201, 217, 0.45);
    background-color: transparent;
}
.table-wrapper {
    /* height: 100%;
    overflow: auto; */
  }
  
  .table-wrapper table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* .table-wrapper table td,
  .table-wrapper table th {
    padding: 8px;
  } */
  
  .table-wrapper thead th {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
  }
  .content_overlay {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .overlay_items{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: start; */
  }

  .overlay_items > div {
    padding-top: 25px;

    display: flex;
    flex-direction: column;
    width: 100%;

  }
  .overlay_items > div > span{
    font-size: 14px;
    font-weight: 200;
    color: var(--color_Dark_0);
  }
  .overlay_items input ,.overlay_items textarea,.master_group_list-menu{
    font-family: 'kanit', sans-serif;
    font-size: 14px;
    font-weight: 200;
    margin-top: 5px;
    padding: 6px 11px;
    border-radius: 5px;
    border: 1px solid lightgrey;
  }
.master_data_icon_more{
    /* background-color: red; */
    position: relative;
}
.master_data_icon_more span{
    /* opacity: 0%; */
    color: lightgray;
}
.master_data_icon_more span:hover{
    opacity: 100%;
    color: var(--bg_Thridnary_2);
}
#tr_master_data{
    cursor: pointer;
}
.master_group_list-menu{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.master_data_icon_more-popup{
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction:column ;
    background-color: #fff;
    width: 130px;
    height: auto;
    right: 40px;
    top: -20px;    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
}
.list_inside_master{
    opacity: 100%;
    color: var(--bg_Thridnary_2);
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    z-index: 9;
    padding: 5px;
    border-radius: 5px;
}
.list_inside_master span{
    color: var(--bg_Thridnary_2);
    opacity: 100%;
    margin-right: 10px;
}


.arrow_pop_inside{
    position: absolute;
    z-index: 1;
    transform: rotate(45deg);
    width: 16px;
    height:16px;
    top: 25px;
    right: -8px;
    background-color: #fff;
  }

#master_group_list-icon span{
    color: lightgray;
    transform: rotate(180deg);
}
.position_popup_list{
    position: absolute;
    z-index: 99;
    margin-top: 10px;
    width: 100%;
    height: 350px;
  }
  .arrow_pop{
    position: absolute;
    z-index: 1;
    transform: rotate(45deg);
    width: 16px;
    height:16px;
    top: -5px;
    left: 50%;
    background-color: rgb(255, 255, 255);
  }

  .container_popup_rank{
    box-sizing: border-box;
    top: 10px;
    width: 100%;
    background-color: #fff;
    padding: 25px 5px;
    font-size: 0.9rem;
    flex-direction: column;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .content_popup_rank{
    overflow-y: scroll ;
  }
  .content_popup_rank ul{
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .content_popup_rank ul li{
    list-style: none;

    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    color: var(--color_Dark_0);
    z-index: 10;
    position: relative;
      padding: 5px 16px;
      width: 100%;
      border-radius: 5px;
      cursor: pointer;
  }
  .content_popup_rank ul li:hover{
    background-color: var(--bg_Thridnary_2);
    color: #fff;
  }